/* write your override styles here */
.tag-1 {
  display: none;
}
body{
  background: blue;
  font-size: 30px;
  text-decoration: underline;
  
}
.tag-2{
  background: green;
  text-align: center;
}
#wall{
  position: center;
}