/* write your override styles here */
.tag-1 {
  display: none;
}
body{
  background: blue;
  font-size: 30px;
  text-decoration: underline;
  
}
.tag-2{
  background: green;
  text-align: center;
}
#wall{
  position: fixed;
  width:700px;
  height: 500px;
  border: 10px dashed orange;
}
body div#wall div.parent div > #tag-7.slick {
  background: yellow;
  z-index: 5;
  display: block;
}

